@model DoctorBookApp.Entities.Models.Concrete.Appointment

@{
    ViewData["Title"] = "Create Appointment";
}

<h2>Create Appointment</h2>

<form asp-action="Create" method="post">
     <div class="form-group">
        <label asp-for="AppointmentDate" class="control-label"></label>
        <input asp-for="AppointmentDate" type="date" class="form-control" />
        <span asp-validation-for="AppointmentDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AppointmentTime" class="control-label"></label>
        <select asp-for="AppointmentTime" class="form-control">
            <option value="09:00">09:00</option>
            <option value="09:30">09:30</option>
            <option value="10:00">10:00</option>
            <option value="10:30">10:30</option>
            <option value="11:00">11:00</option>
            <option value="11:30">11:30</option>
            <option value="12:00">12:00</option>
            <option value="12:30">12:30</option>
            <option value="13:00">13:00</option>
            <option value="13:30">13:30</option>
            <option value="14:00">14:00</option>
            <option value="14:30">14:30</option>
            <option value="15:00">15:00</option>
            <option value="15:30">15:30</option>
            <option value="16:00">16:00</option>
            <option value="16:30">16:30</option>
            <option value="17:00">17:00</option>
        </select>
        <span asp-validation-for="AppointmentTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DoctorId" class="control-label"></label>
        <select asp-for="DoctorId" class="form-control" asp-items="@(new SelectList(ViewBag.Doctors, "Id", "Name"))"></select>
        <span asp-validation-for="DoctorId" class="text-danger"></span>
    </div>
    @* <div class="form-group">
        <label asp-for="CustomerId" class="control-label"></label>
        <select asp-for="CustomerId" class="form-control" asp-items="@(new SelectList(ViewBag.Customers, "Id", "Name"))"></select>
        <span asp-validation-for="CustomerId" class="text-danger"></span>
    </div> *@
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
